@page
@model ProiectBD.Pages.Meniu.MeniuModel
@{
}

<br />
<h2>Accesati tabel din baza de date</h2>
<br />
<div class="container border" style="padding:20px;display: flex;justify-content:center;">
    <a class='btn btn-primary btn-sm'style="margin:2%;" href='/Angajati/Angajati'>Angajati</a>
    <a class='btn btn-primary btn-sm' style="margin:2%" href='/Departamente/Departamente'>Departamente</a>
    <a class='btn btn-primary btn-sm' style="margin:2%" href='/Clienti/Clienti'>Clienti</a>
    <a class='btn btn-primary btn-sm' style="margin:2%" href='/Hrana Animale/Hranacshtml'>Hrana Animale</a>
    <a class='btn btn-primary btn-sm' style="margin:2%" href='/Animale/Animale'>Animale</a>
    <a class='btn btn-primary btn-sm' style="margin:2%" href='/Comenzi/Comenzi'>Comenzi</a>
    <a class='btn btn-primary btn-sm' style="margin:2%" href='/Detalii Comenzi/Detalii'>Detalii Comenzi</a>
</div>